$font-family: "Poppins", sans-serif;
$font-size: 14px;
$small-font-size: 0.9em;
$background-color: #fafbff;
$sidebar-width: 300px;
$sidebar-bg-color: #fff;
$sidebar-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
$sidebar-active-bg-color: #6236ff;
$profile-img-size: 2.5em;
$table-bg-color: #fff;
$table-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$table-border-color: #f4f7fc;
$light-gray: #b5b7c0;
$dard-grey: #404b52;
$light-green: #16c098;
$dark-green: #008767;
$dark-red: #df0404;
$pagination-active-bg-color: #6236ff;
$pagination-active-color: #fff;
$pagination-color: #fff;
$pagination-bg-color: #f5f5f5;
$pagination-hover-bg-color: #6236ff;
